extends layout
block append_css
  link(rel='stylesheet', href='/nm/slick-carousel/slick/slick.css')
  link(rel='stylesheet', href='/nm/slick-carousel/slick/slick-theme.css')
block content
  - var item_list;
  include include/comm
  .container
    //- title 명을 저장하는 곳
    input(type='hidden', name='title', value=title)
    .row.mt-4
      #left-facet-wrap.col-2
        //- 필터 부분
        if(post.filter)
          - var filter_list = post.filter.split(';');
          if(filter_list.length > 0)
            .card.rounded-0.filter-wrap
              each filter in filter_list
                if(filter)
                  p #{filter.split(':')[1]}
                    i.nc-icon.nc-simple-remove.text-danger(data-value=filter)
        each list, key in left
          .card.rounded-0
            .card-header #{key}
            .card-body(id=key)
              each val, val_key in list
                //  결재권자의 경우, 
                if(val.list)
                  - item_list = {};
                  each item in val.list
                    if(!item_list.item)
                      - item_list[item] = 1;
                    else
                      - item_list[item] = item_list[item] + 1;
                  button.btn.btn-link.px-0.py-2.d-block.text-left(type='button', data-toggle='collapse', data-target='#key_' + val_key, aria-expanded="true", aria-controls=val.title) #{val.title} 
                    small (#{val.count})
                  .collapse(id='key_' + val_key, data-parent='#' + key)
                    each sub_val in val.list
                      button.btn.btn-link(type='button', data-role='left-facet', data-name=Object.keys(sub_val)[0], data-group='결재권자') #{Object.keys(sub_val)} 
                        small (#{sub_val[Object.keys(sub_val)]})
                else
                  button.btn.btn-link.px-0.py-2.d-block.text-left(type='button', data-role='left-facet', data-name=val.title, data-group=key) #{val.title} 
                    small (#{val.count})

              //- if(['핵심키워드', '기안 보고자', '시간'].indexOf(item.menu_name) === -1)
                
              //- else
              //-   form(onsubmit='return searchText()')
              //-     .input-group
              //-       input.form-control(type='text', data-role='search')
              //-       .input-group-append
              //-         span.input-group-text.bg-primary 
              //-           i.nc-icon.nc-zoom-split.text-white
      .col-4#list-part
        each item in body
          a(href='#', data-id=item[eNum.id]) 
            small #{item[eNum.item_name]}
          .border.p-2
            label #{item[eNum.description]}
      .col-6#detail-part
        .row
          .col-md-6
            .mainImg-wrap.d-none
              img(name='mainImg', src='', alt='')
          .col-md-6
            h5(name='title')
            p.description(name='description')
        .row
          .col-12
            p(data-attr='title', data-view='false') 속성정보
            .attr-wrap
        .row
          .col-12
            .img-wrap.w-100
    //-   page 설정
    - var _total = total[0];
    - var totalPage = Math.ceil(_total / limit);
    - var pageSize = 10;
    - var currPageGroup = Math.ceil(page / pageSize);
    - var startPage = (currPageGroup - 1) * pageSize + 1;
    - var endPage = currPageGroup * pageSize > totalPage ? totalPage : currPageGroup * pageSize;
    ul.pagination.pagination-success.justify-content-center.py-3
      li.page-item
        button.page-link.rounded-0(data-page='pre') <
      - var p = startPage;
      while p <= endPage
        li.page-item
          button.page-link(data-page=p) #{p++}
      li.page-item
        button.page-link.rounded-0(data-page='next') >
  #fullScreen.position-fixed(data-view='false')
    i.nc-icon.nc-simple-remove
    .slick-fullScreen.w-100

block append_js
  script(src='/public_js/facet.js')
  script(src='/nm/slick-carousel/slick/slick.min.js')
  script.
    console.log('total : ', !{JSON.stringify(pageTotal)});