extends layout
block content
  - var item_list;
  .container
    .row.mt-4
      #left-facet-wrap.col-2
        //- posted value 저장용 input
        input(type='hidden', name='posted_value', value=posted_value)
        each list, key in left
          .card.rounded-0
            .card-header #{key}
            .card-body(id=key)
              each val, val_key in list
                //  결재권자의 경우, 
                if(val.list)
                  - item_list = {};
                  each item in val.list
                    if(!item_list.item)
                      - item_list[item] = 1;
                    else
                      - item_list[item] = item_list[item] + 1;
                  button.btn.btn-link.px-0.py-2.d-block.text-left(type='button', data-toggle='collapse', data-target='#key_' + val_key, aria-expanded="true", aria-controls=val.title) #{val.title} 
                    small (#{val.count})
                  .collapse(id='key_' + val_key, data-parent='#' + key)
                    each sub_val in val.list
                      button.btn.btn-link(type='button', data-role='left-facet', data-name=Object.keys(sub_val)[0], data-group='결재권자') #{Object.keys(sub_val)} 
                        small (#{sub_val[Object.keys(sub_val)]})
                else
                  button.btn.btn-link.px-0.py-2.d-block.text-left(type='button', data-role='left-facet', data-name=val.title, data-group=key) #{val.title} 
                    small (#{val.count})

              //- if(['핵심키워드', '기안 보고자', '시간'].indexOf(item.menu_name) === -1)
                
              //- else
              //-   form(onsubmit='return searchText()')
              //-     .input-group
              //-       input.form-control(type='text', data-role='search')
              //-       .input-group-append
              //-         span.input-group-text.bg-primary 
              //-           i.nc-icon.nc-zoom-split.text-white
      .col-5
        each item in body
          a(href='#', data-id=item[1]) 
            small #{item[2]}
          .border.p-2
            label 내용이 어쩌고 저쩌고 등등등

      .col-5
block append_js
  script(src='/public_js/facet.js')
  script.
    console.log('body : ', !{JSON.stringify(body)})
    console.log('left : ', !{JSON.stringify(left)})