doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    title 육군기록정보관리단
    link(rel="shortcut icon" href="/public_img/favicon.ico" type="image/x-icon")
    link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/css/paper-kit.min.css')
    link(rel='stylesheet', href='/public_css/style.css')
  body
    block append_css
    .container
      #main-top
        section
          .main-search-wrap
            a(href='/')
              img(src='/public_img/logo.png', alt='육군디지털 아카이프 로고')
            input#searchText.pl-3.font-weight-bold(type='text', placeholder='검색어를 입력하세요')
          nav.navbar
            ul.navbar-nav.flex-row.mx-auto
              li.nav-item(class=active=='총장결재기록물'?'bg-danger':'')
                a.nav-link(href="/facet/총장결재기록물") 총장결재기록물
                //- a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown', aria-expanded='false') 총장결재기록물
                //- .dropdown-menu.dropdown-danger
                //-   a.dropdown-item(href="#") 결재권자
                //-   a.dropdown-item(href="#") 업무기능
                //-   a.dropdown-item(href="#") 생산기관
                //-   a.dropdown-item(href='#') 기안 보고자
                //-   a.dropdown-item(href='#') 핵심키워드
                //-   a.dropdown-item(href='#') 시간
              li.nav-item(class=active=='정책기록'?'bg-danger':'')
                a.nav-link(href="/facet/정책기록") 정책기록
                //- a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown', aria-expanded='false') 정책기록
                //- .dropdown-menu.dropdown-danger
                //-   a.dropdown-item(href='#') 생산기관
                //-   a.dropdown-item(href='#') 업무기능
                //-   a.dropdown-item(href='#') 핵심키워드
                //-   a.dropdown-item(href='#') 시간
              li.nav-item(class=active=='전투기록'?'bg-danger':'')
                a.nav-link(href="/facet/전투기록") 전투기록
                //- a.dropdown-toggle.nav-link(data-toggle='dropdown', aria-expanded='false') 전투기록
                //- .dropdown-menu.dropdown-danger
                //-   a.dropdown-toggle.dropdown-item.pl-2(data-toggle='collapse', data-target='#inner_625', aria-expanded='true', aria-controls='inner_625') ① 6.25 전쟁
                //-   #inner_625.collapse
                //-     a.dropdown-toggle.dropdown-item.pl-3(data-toggle='collapse', data-target='#innerOrderType', aria-expanded='true', aria-controls='innerOrderType') 명령유형
                //-     #innerOrderType.collapse
                //-       a.dropdown-item.pl-3(href='#') - 행정명령
                //-       a.dropdown-item.pl-3(href='#') - 전투명령
                //-       a.dropdown-item.pl-3(href='#') - 훈령
                //-     a.dropdown-toggle.dropdown-item.pl-3(data-toggle='collapse', data-target='#innerPlace', aria-expanded='true', aria-controls='innerPlace') 공간
                //-     #innerPlace.collapse
                //-       a.dropdown-toggle.dropdown-item.pl-3(data-toggle='collapse', data-target='#innerGangWon', aria-expanded='true', aria-controls='innerGangWon') ⊙ 강원권
                //-       #innerGangWon.collapse
                //-         a.dropdown-toggle.dropdown-item.pl-4(data-toggle='collapse', data-target='#region_1', aria-expanded='true', aria-controls='region_1') 철원
                //-         #region_1.collapse
                //-           a.dropdown-item.pl-4(href='#') - 화살머리
                //-       a.dropdown-toggle.dropdown-item.pl-3(href='#') ⊙ 경기권
                //-       a.dropdown-toggle.dropdown-item.pl-3(href='#') ⊙ 충청권
                //-       a.dropdown-toggle.dropdown-item.pl-3(href='#') ⊙ 경상권
                //-       a.dropdown-toggle.dropdown-item.pl-3(href='#') ⊙ 전라권
                //-     a.dropdown-item.pl-3(href='#') 핵심키워드
                //-     a.dropdown-item.pl-3(href='#') 시간
                //-   a.dropdown-item.pl-2(href='#') ② 월남전
                //-   a.dropdown-item.pl-2(href='#') ③ 대침투작전
              li.nav-item(class=active=='사여단기록'?'bg-danger':'')
                a.nav-link(href="/facet/사여단기록") 사 · 여단기록
                //- a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown', aria-expanded='false') 사 · 여단기록
                //- .dropdown-menu.dropdown-danger
                //-   a.dropdown-item(href='#') 생산부대
                //-   a.dropdown-item(href='#') 업무기능
                //-   a.dropdown-item(href='#') 기안 보고자
                //-   a.dropdown-item(href='#') 핵심키워드
                //-   a.dropdown-item(href='#') 시간
              li.nav-item(class=active=='시청각'?'bg-danger':'')
                a.nav-link(href='#') 시청각
              li.nav-item(class=active=='게시판'?'bg-danger':'')
                a.nav-link(href='#') 게시판      
    block content

    script(src="/assets/js/core/jquery.min.js" type="text/javascript")
    script(src="/assets/js/core/popper.min.js" type="text/javascript")
    script(src="/assets/js/core/bootstrap.min.js" type="text/javascript")
    // Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/
    script(src="/assets/js/plugins/bootstrap-switch.js")
    // Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/
    script(src="/assets/js/plugins/nouislider.min.js" type="text/javascript")
    // Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker
    script(src="/assets/js/plugins/moment.min.js")
    // Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs
    script(src="/assets/js/plugins/bootstrap-tagsinput.js")
    // Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select
    script(src="/assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript")
    // Plugin for Datetimepicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/
    script(src="/assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript")
    // Vertical nav - dots
    // Photoswipe files
    script(src="/assets/js/plugins/photo_swipe/photoswipe.min.js")
    script(src="/assets/js/plugins/photo_swipe/photoswipe-ui-default.min.js")
    script(src="/assets/js/plugins/photo_swipe/init-gallery.js")
    // for Jasny fileupload
    script(src="/assets/js/plugins/jasny-bootstrap.min.js")
    // Control Center for Paper Kit: parallax effects, scripts for the example pages etc
    script(src="/assets/js/paper-kit.js?v=2.3.0" type="text/javascript")
    script(src="/public_js/comm.js" type="text/javascript")
    script.
      $('.dropdown-toggle[data-toggle="collapse"]').on('click', function(e) {
        let target_id = $(this).data('target');
        let target = document.querySelector(target_id);
        if(target.className.indexOf('show') > -1) target.className = 'collapse';
        else target.className = 'collapse show'
        e.stopPropagation();
      });
    block append_js
